ion-avatar {
  --border-radius: 10px;
  width: 15% !important;
  height: 50% !important;
}

.scoreInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: xxx-large;
  text-align: center;
}
