ion-card > ion-card-header > img {
  border-radius: 10px;
  width: 100%;
}

.danger-button {
  width: 100%
}

.modalDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

