<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/imprint.jpg"/>
      <ion-card-title>{{"RULES" | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>{{"RULES_TEXT_1" | translate}}</li>
        <li>{{"RULES_TEXT_2" | translate}}</li>
        <li>{{"RULES_TEXT_3" | translate}}</li>
        <li>{{"RULES_TEXT_4" | translate}}</li>
        <li>{{"RULES_TEXT_5" | translate}}</li>
        <li>{{"RULES_TEXT_6" | translate}}</li>
        <li>{{"RULES_TEXT_7" | translate}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/rules.png"/>
      <ion-card-title>{{"IMPRINT" | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Angaben gemäß § 5 TMG</p>
      <p>Samuel Abramov</p>
      <p>Im Dreiangel 18</p>
      <p>21493 Schwarzenbek</p>
      <p>feedback@nexent.de</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/danger-zone.png"/>
      <ion-card-title>{{"YOUR_ACCOUNT" | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button id="open-custom-dialog" class="danger-button" color="danger" >{{"DELETE_ACCOUNT" | translate}}</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-modal  #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="modalDialog">
        <h1>{{"ARE_YOU_SURE" | translate}}</h1>
        <p>{{"THIS_CAN_NOT_BE_UNDONE" | translate}}</p>
        <!-- Button Yes, Button No-->
        <ion-button (click)="deleteAccount(modal)" class="danger-button" color="danger">{{"YES" | translate}}</ion-button>
        <ion-button (click)="modal.dismiss()" class="danger-button" color="primary">{{"NO" | translate}}</ion-button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
