ion-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
